/* m8.css - CSS for my website */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=JetBrains+Mono&family=Nunito&display=swap');
:root {
    --text:         #ffffff;
    --background:   #222222f5;
	--border1:		#444444;
	--border2:		#111111;
    --accent:       #d69df7;
    --error:        #d92b2b;
    --bgimage:      url("background.jpg");
}
@media (prefers-color-scheme: light) {
	:root {
		--text:         #000000;
		--background:   #ddddddea;
		--border1:		#EEEEEE;
		--border2:		#BBBBBB;
		--accent:       #7970bd;
		--error:        darkred;
		--bgimage:      url("background-light.jpg");
	}
}

body {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: var(--text);
    background: var(--bgimage);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    line-height: 1.8;
    padding-top: 80px;
    padding-bottom: 20px;
}
.header {
    font-family: 'JetBrains Mono', monospace;
    margin: auto;
    width: 700px;
    padding-top: 40px;
    padding-bottom: 15px;
    border-top: 1px solid var(--border1);
    border-bottom: 1px solid var(--border2);
    background: var(--background);
    border-radius: 5px;
    box-shadow: 0 0 15px #000000AA;
    text-align: center;
}
.avatar {
    width: 170px;
    margin: auto;
    display: block;
    border: 5px solid var(--accent);
    border-radius: 100px;
    box-shadow: 0 0 15px #000000AA;
}
.content {
    background: var(--background);
    width: 520px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px #000000AA;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 10px 50px;
    border-top: 1px solid var(--border1);
    border-bottom: 1px solid var(--border2);
    transition: box-shadow .2s;
}

@media (max-width: 727px) {
    .content, .header {
        width: 85%;
        box-shadow: none;
        margin: auto;
        padding: 0;
        border-radius: 0px;
	    border: none;
        background: none;
    }
    body {
        background: var(--background);
    }
}

a { color: var(--accent); }
h1, h2, h3 {
    color: var(--accent);
    line-height: 1;
    font-family: 'JetBrains Mono', monospace;
}
h1 {
    text-align: center;
}

code, pre {
    font-family: "Source Code Pro", monospace;
}
.src {
    overflow-x: auto;
    margin: 0 6%;
}

* {
    scrollbar-color: var(--accent) var(--background);
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    background-color: var(--background);
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-thumb { background-color: var(--accent); }
