/* m8.css - CSS for my website */
:root {
    /* I can just change these values whenever I want to change the website's colour scheme lol */
    --text: #f8f8f2;
    --background: #282a36;
    --link: #f1fa8c;
    --heading: #bd93f9;
    --comment: #6272a4;
    --error: #ff5555;
}
body {
    font-size: 18px;
    color: var(--text);
    background-color: var(--background);
    line-height: 1.8;
}
.content {
    width: 500px;
    height: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a { color: var(--link); text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3 { color: var(--heading); line-height: 1; text-align: center; }
h2:before, h3:before {
    content: "#";
    color: var(--comment);
    position: absolute;
    transform: translateX(-25px);
}
.avatar {
    width: 150px;
    margin: auto;
    display: block;
    border-radius: 5px;
    border: 3px solid var(--comment);
}
code,.org-src-container  {
    color: var(--code);
    font-size: 16px;
}
.org-src-container { overflow-x: auto; }
#comment {
    color: var(--comment);
    font-style: italic;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}
@media (max-height: 600px) {
    .content {
        height: 95%;
    }
}
@media (max-width: 550px) {
    .content {
        width: 95%;
    }
}
* {
    scrollbar-color: var(--heading) var(--background);
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    background-color: var(--background);
    width: 8px;
}
*::-webkit-scrollbar-thumb { background-color: var(--heading); }
