/* standard.css - Generic CSS for my website and also whatever else I want a quick CSS thing for */
h1, h2, h3 {
    line-height: 1;
}
body {
    margin: auto;
    padding: 0 10px 20px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 640px;
    color: #333444;
    background-color: #e9e4d2;
}
a       { color: #333; transition: .15s; }
a:hover { color: #f1afef }
img { max-width: 100%; }
code {
    font-size: 14px;
    border-radius: 5px;
    background-color: #d8d3c1;
    padding: 4px 3px;
}
.code-block {
    font-size: 14px;
    font-family: monospace;
}
*                           { scrollbar-color:  #f1afef #d8d3c1; }
*::-webkit-scrollbar        { background-color: #d8d3c1; }
*::-webkit-scrollbar-thumb  { background-color: #f1afef; }
@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background-color: #282c34;
    }
    h1, h2, h3 { color: #eee; }
    a       { color: #eee; }
    a:hover { color: #4178f2; }
    code { background-color: #21242b; }
    * { scrollbar-color: #51afef #21242b; }
    *::-webkit-scrollbar        { background-color: #282c34; }
    *::-webkit-scrollbar-thumb  { background-color: #51afef; }
}
